---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import WorkItem from '../components/WorkItem.astro';

import work from '../data/workdata.json';
---

<Layout>
	<Header />
    <div class="work-list">
        {work.projects.map((item: unknown) => (
            <WorkItem item={item} />
        ))}
    </div>
</Layout>

<style lang="scss">
    .work-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 50px 20px;
        max-width: 800px;
        margin: 0 auto;
    }
</style>
